*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-Gilroy: "Gilroy", sans-serif;

%font-Gilroy-bold {
  font-family: $font-Gilroy;
  font-weight: bold;
}
%font-Gilroy-Regular {
  font-family: $font-Gilroy;
  font-weight: normal;
}

body {
  @extend %font-Gilroy-Regular;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}
.container {
  margin: 0 auto;
  padding: 0 50px;

  max-width: 1300px;

  .header {
    position: relative;
    margin: 65px 0 29px;
    display: grid;
    grid-template-columns:
      repeat(2, max-content) minmax(70px, 100px) minmax(170px, 1fr)
      max-content;
    max-width: 100%;
    grid-column-gap: 60px;

    &-logo {
      grid-column: 1/2;
      grid-row: 1/3;

      .logo-conteiner {
        display: flex;
        flex-wrap: wrap;
        width: max-content;
        .img-logo {
          width: 28.53px;
          height: 62.49px;
        }
        .title-logo {
          margin-left: 11.4px;
          width: 110px;
          @extend %font-Gilroy-bold;
          font-size: 24px;
          line-height: 30px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }

    &-city {
      display: flex;
      margin-bottom: 14px;
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: flex-start;

      .lable-city {
        font-size: 12px;
        line-height: 14px;
      }
      .dropdown-toggle {
        margin-left: 5px;
        @extend %font-Gilroy-bold;
        font-size: 12px;
        line-height: 14px;

        color: #c6a464;
        border-bottom: dotted;

        .icon-dropdown-toggle {
          display: inline-block;
          width: 7px;
          height: 7.78px;
          vertical-align: middle;
          margin-left: 4px;
          background-image: url(../img/caret.svg);
          background-repeat: no-repeat;
        }
      }

      .dropdown-toggle:hover {
        color: #b68c3e;
      }
    }

    .feedback {
      grid-column: 2/3;
      grid-row: 2/3;

      .phone-namber {
        display: block;
        margin-bottom: 3px;

        @extend %font-Gilroy-bold;
        font-size: 18px;
        line-height: 22px;
      }

      .text-feedback {
        display: block;

        @extend %font-Gilroy-bold;
        font-size: 11px;
        line-height: 14px;
        text-decoration-line: underline;

        color: #c6a464;
      }

      .text-feedback:hover {
        color: #b68c3e;
      }
    }

    .social-network {
      grid-column: 3/4;
      grid-row: 1/2;
      display: flex;
      justify-content: space-between;

      &-whatsapp,
      &-telegramm,
      &-viber {
        .icon-social-network {
          margin: 0;
          transition: 0.2s;
        }
        .icon-social-network:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }

    &-search {
      grid-column: 4/5;
      grid-row: 1/2;

      .input-group {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 3px;
        background: #f4f8fb;
        .input-group-prepend {
          .btn {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            background: #f4f8fb;
            border: 0 solid transparent;
            width: 45px;
            height: 30px;
          }
        }
        .form-control {
          display: block;
          width: 100%;
          padding: 6px 12px;
          font-size: 11px;
          line-height: 1.1;
          color: #495057;
          background: #f4f8fb;
          border: 0 solid #ced4da;
          flex: 1 1 0%;
        }
      }
    }

    &-nav {
      grid-column: 3/5;
      grid-row: 2/3;
      max-width: 100%;
      @extend %font-Gilroy-Regular;
      font-size: 13px;
      color: #000000;
      .nav-market {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;

        li {
          padding-left: 10px;
          display: list-item;
          margin-top: 27px;
          // height: 19px;
          float: left;
          a {
            justify-content: center;

            span {
              width: max-content;
              align-self: flex-end;
              @extend %font-Gilroy-Regular;
              font-size: 13px;
              line-height: 16px;
              color: #000000;
              transition: 0.2s;
            }
          }

          a:hover {
            span {
              text-shadow: 5px 5px 10px #2d5066;
            }
          }
        }
      }
    }

    &-login {
      grid-column: 5/6;
      grid-row: 1/2;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 104px;
        height: 30px;

        border: 2px solid #47708a;
        border-radius: 3px;

        transition: 0.2s;

        .btn-text {
          @extend %font-Gilroy-bold;
          font-size: 12px;
          line-height: 15px;
          color: #000000;
        }
      }
      .btn:hover {
        transform: scale(1.01, 1.01);
        box-shadow: 1px 1px 3px #000000;
      }
    }

    &-basket {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5px;
      width: 110px;
      justify-content: center;
      align-items: center;
      grid-column: 5/6;
      grid-row: 2/3;

      .fovarites {
        margin-left: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fovarites-link {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 19px;
          height: 19px;
          background: #c6a464;
          border-radius: 50%;
          transition: 0.2s;

          .fovarites-text {
            position: relative;
            z-index: 1;
            @extend %font-Gilroy-bold;
            color: #ffffff;
            font-size: 10px;
            line-height: 13px;
          }
        }
        .fovarites-link:after {
          content: "";
          position: absolute;
          left: -18px;
          top: 0;
          width: 22px;
          height: 21px;
          background-image: url(../img/icon-heart.svg);
        }
      }
      .fovarites:hover {
        .fovarites-link {
          transform: scale(1.1, 1.1);
        }
      }

      .basket {
        display: flex;
        justify-content: center;
        align-items: center;
        .basket-link {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 19px;
          height: 19px;
          background: #c6a464;
          border-radius: 50%;
          transition: 0.2s;

          .basket-text {
            position: relative;
            z-index: 1;
            @extend %font-Gilroy-bold;
            color: #ffffff;
            font-size: 10px;
            line-height: 13px;
          }
        }
        .basket-link:after {
          content: "";
          position: absolute;
          left: -18px;
          top: 0;
          width: 22px;
          height: 21px;
          background-image: url(../img/icon-basket.svg);
        }
      }
      .basket:hover {
        .basket-link {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}

.bg-nav-menu {
  position: relative;
  width: 100%;
  height: 155px;
  background: #fafbfc;
  .nav {
    max-width: 100%;
    height: 155px;
    &-menu {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      .base-li {
        position: relative;
        display: flex;
        margin-top: 47px;
        float: left;
        a {
          display: flex;
          flex-wrap: wrap;
          max-width: 110px;
          height: 65px;
          justify-content: center;

          .icon-li {
            align-self: flex-start;
          }

          .text-li {
            width: 100%;
            align-self: flex-end;
            text-align: center;
            @extend %font-Gilroy-bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
          }
        }

        // ul {
        //   display: none;
        //   position: absolute;
        //   left: -31px;
        //   top: 66px;
        //   width: 110px;
        //   height: max-content;
        //   list-style: none;
        //   background: #fafbfc;
        //   box-shadow: 5px 5px 10px #000000;
        //   border-radius: 5px;

        //   li {
        //     display: flex;
        //     justify-content: center;
        //     float: unset;
        //     margin-top: 20px;
            
        //   }
        //   li:last-child {
        //     margin-bottom: 20px;
        //   }
        // }
      }

      li:hover {
        ul {
          display: block;
        }
      }
    }
    .test{
    border: 3px solid green;
  }
  
  .li-min-none{
    display: none;
  }
  }
  
}

.bg-intro {
  width: 100%;
  height: 869px;
  background: #2d5066;
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1140px) {
  .container {
    .header {
      grid-column-gap: 40px;
    }
  }
}

@media screen and (max-width: 990px) {
  .container {
    .header {
      grid-column-gap: 10px;
    }
  }

  .bg-nav-menu {
    .nav {
      &-menu {
        .li-min {
          display: none;
        }
        .li-max {
          display: list-item;
        }
      }
    }
  }
}


  


@media screen and (max-width: 770px) {
}

@media screen and (max-width: 575px) {
}
