*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-Gilroy: "Gilroy", sans-serif;

%font-Gilroy-bold {
  font-family: $font-Gilroy;
  font-weight: bold;
}
%font-Gilroy-Regular {
  font-family: $font-Gilroy;
  font-weight: normal;
}

body {
  @extend %font-Gilroy-Regular;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}
.container {
  margin: 0 auto;

  width: 1200px;

  .header {
    margin: 65px 0 29px;
    display: grid;
    grid-template-columns: repeat(3, max-content) minmax(300px, 1fr) max-content;
    grid-column-gap: 60px;

    &-logo {
      grid-column: 1/2;
      grid-row: 1/3;

      .logo-conteiner {
        display: flex;
        flex-wrap: wrap;
        width: max-content;
        .img-logo {
          width: 28.53px;
          height: 62.49px;
        }
        .title-logo {
          margin-left: 11.4px;
          width: 110px;
          @extend %font-Gilroy-bold;
          font-size: 24px;
          line-height: 30px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }

    &-city {
      display: flex;
      margin-bottom: 14px;
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: flex-start;

      .lable-city {
        font-size: 12px;
        line-height: 14px;
      }
      .dropdown-toggle {
        margin-left: 5px;
        @extend %font-Gilroy-bold;
        font-size: 12px;
        line-height: 14px;

        color: #c6a464;
        border-bottom: dotted;

        .icon-dropdown-toggle {
          display: inline-block;
          width: 7px;
          height: 7.78px;
          vertical-align: middle;
          margin-left: 4px;
          background-image: url(../img/caret.svg);
          background-repeat: no-repeat;
        }
      }

      .dropdown-toggle:hover {
        color: #b68c3e;
      }
    }

    .feedback {
      grid-column: 2/3;
      grid-row: 2/3;

      .phone-namber {
        display: block;
        margin-bottom: 3px;

        @extend %font-Gilroy-bold;
        font-size: 18px;
        line-height: 22px;
      }

      .text-feedback {
        display: block;

        @extend %font-Gilroy-bold;
        font-size: 11px;
        line-height: 14px;
        text-decoration-line: underline;

        color: #c6a464;
      }

      .text-feedback:hover {
        color: #b68c3e;
      }
    }

    .social-network {
      grid-column: 3/4;
      grid-row: 1/2;

      &-whatsapp {
        .icon-social-network {
          margin-right: 16.1px;
        }
      }

      &-telegramm {
      }

      &-viber {
        .icon-social-network {
          margin-left: 19.4px;
        }
      }
    }

    &-search {
      background-color: brown;
      grid-column: 4/5;
      grid-row: 1/2;
    }

    &-nav {
      grid-column: 3/5;
      grid-row: 2/3;

      @extend %font-Gilroy-Regular;
      font-size: 13px;
      color: #000000;

      .nav-market {
        float: left;
        list-style: none;
        margin: 0;
      }
      .nav-market li {
        height: 19px;
        margin: 27px 0 0 20px;
        display: list-item;
        float: left;
        
      }

      .nav-market li:first-child {
        margin: 27px 0 0 0;
      }

      .nav-market li a {
        @extend %font-Gilroy-Regular;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
      }
    }

    &-login {
      background-color: bisque;
      grid-column: 5/6;
      grid-row: 1/2;
    }

    &-basket {
      background-color: blue;
      grid-column: 5/6;
      grid-row: 2/3;
    }
  }

  
}

.bg-nav-menu{
  width: 100%;
  height: 155px;
  background: #FAFBFC;
}

.bg-intro{
  width: 100%;
  height: 869px;
  background: #2D5066;
}
