*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.container .header-logo .logo-conteiner .title-logo, .container .header-city .dropdown-toggle, .container .header .feedback .phone-namber, .container .header .feedback .text-feedback, .container .header-login .btn .btn-text, .container .header-basket .fovarites .fovarites-link .fovarites-text, .container .header-basket .basket .basket-link .basket-text, .bg-nav-menu .nav-menu .base-li a .text-li {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
}

body, .container .header-nav, .container .header-nav .nav-market li a span {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
}

body {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1300px;
}
.container .header {
  position: relative;
  margin: 65px 0 29px;
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content) minmax(70px, 100px) minmax(170px, 1fr) -webkit-max-content;
  grid-template-columns: repeat(2, max-content) minmax(70px, 100px) minmax(170px, 1fr) max-content;
  max-width: 100%;
  grid-column-gap: 60px;
}
.container .header-logo {
  grid-column: 1/2;
  grid-row: 1/3;
}
.container .header-logo .logo-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.container .header-logo .logo-conteiner .img-logo {
  width: 28.53px;
  height: 62.49px;
}
.container .header-logo .logo-conteiner .title-logo {
  margin-left: 11.4px;
  width: 110px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.container .header-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  grid-column: 2/3;
  grid-row: 1/2;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.container .header-city .lable-city {
  font-size: 12px;
  line-height: 14px;
}
.container .header-city .dropdown-toggle {
  margin-left: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #c6a464;
  border-bottom: dotted;
}
.container .header-city .dropdown-toggle .icon-dropdown-toggle {
  display: inline-block;
  width: 7px;
  height: 7.78px;
  vertical-align: middle;
  margin-left: 4px;
  background-image: url(../img/caret.svg);
  background-repeat: no-repeat;
}
.container .header-city .dropdown-toggle:hover {
  color: #b68c3e;
}
.container .header .feedback {
  grid-column: 2/3;
  grid-row: 2/3;
}
.container .header .feedback .phone-namber {
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 22px;
}
.container .header .feedback .text-feedback {
  display: block;
  font-size: 11px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #c6a464;
}
.container .header .feedback .text-feedback:hover {
  color: #b68c3e;
}
.container .header .social-network {
  grid-column: 3/4;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .header .social-network-whatsapp .icon-social-network, .container .header .social-network-telegramm .icon-social-network, .container .header .social-network-viber .icon-social-network {
  margin: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.container .header .social-network-whatsapp .icon-social-network:hover, .container .header .social-network-telegramm .icon-social-network:hover, .container .header .social-network-viber .icon-social-network:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.container .header-search {
  grid-column: 4/5;
  grid-row: 1/2;
}
.container .header-search .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background: #f4f8fb;
}
.container .header-search .input-group .input-group-prepend .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: #f4f8fb;
  border: 0 solid transparent;
  width: 45px;
  height: 30px;
}
.container .header-search .input-group .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 11px;
  line-height: 1.1;
  color: #495057;
  background: #f4f8fb;
  border: 0 solid #ced4da;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}
.container .header-nav {
  grid-column: 3/5;
  grid-row: 2/3;
  max-width: 100%;
  font-size: 13px;
  color: #000000;
}
.container .header-nav .nav-market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
}
.container .header-nav .nav-market li {
  padding-left: 10px;
  display: list-item;
  margin-top: 27px;
  float: left;
}
.container .header-nav .nav-market li a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .header-nav .nav-market li a span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.container .header-nav .nav-market li a:hover span {
  text-shadow: 5px 5px 10px #2d5066;
}
.container .header-login {
  grid-column: 5/6;
  grid-row: 1/2;
}
.container .header-login .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 104px;
  height: 30px;
  border: 2px solid #47708a;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.container .header-login .btn .btn-text {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.container .header-login .btn:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  -webkit-box-shadow: 1px 1px 3px #000000;
          box-shadow: 1px 1px 3px #000000;
}
.container .header-basket {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  width: 110px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 5/6;
  grid-row: 2/3;
}
.container .header-basket .fovarites {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .header-basket .fovarites .fovarites-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19px;
  height: 19px;
  background: #c6a464;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.container .header-basket .fovarites .fovarites-link .fovarites-text {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 10px;
  line-height: 13px;
}
.container .header-basket .fovarites .fovarites-link:after {
  content: "";
  position: absolute;
  left: -18px;
  top: 0;
  width: 22px;
  height: 21px;
  background-image: url(../img/icon-heart.svg);
}
.container .header-basket .fovarites:hover .fovarites-link {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.container .header-basket .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .header-basket .basket .basket-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19px;
  height: 19px;
  background: #c6a464;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.container .header-basket .basket .basket-link .basket-text {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 10px;
  line-height: 13px;
}
.container .header-basket .basket .basket-link:after {
  content: "";
  position: absolute;
  left: -18px;
  top: 0;
  width: 22px;
  height: 21px;
  background-image: url(../img/icon-basket.svg);
}
.container .header-basket .basket:hover .basket-link {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.bg-nav-menu {
  position: relative;
  width: 100%;
  height: 155px;
  background: #fafbfc;
}
.bg-nav-menu .nav {
  max-width: 100%;
  height: 155px;
}
.bg-nav-menu .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
}
.bg-nav-menu .nav-menu .base-li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  float: left;
}
.bg-nav-menu .nav-menu .base-li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 110px;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bg-nav-menu .nav-menu .base-li a .icon-li {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.bg-nav-menu .nav-menu .base-li a .text-li {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.bg-nav-menu .nav-menu li:hover ul {
  display: block;
}
.bg-nav-menu .nav .test {
  border: 3px solid green;
}
.bg-nav-menu .nav .li-min-none {
  display: none;
}

.bg-intro {
  width: 100%;
  height: 869px;
  background: #2d5066;
}

@media screen and (max-width: 1140px) {
  .container .header {
    grid-column-gap: 40px;
  }
}
@media screen and (max-width: 990px) {
  .container .header {
    grid-column-gap: 10px;
  }

  .bg-nav-menu .nav-menu .li-min {
    display: none;
  }
  .bg-nav-menu .nav-menu .li-max {
    display: list-item;
  }
}
